<h1>Welcome to QnA</h1>

<h2>Questions</h2>

<ul>
  {{#each model.questions as |question|}}
     {{question-popularity question}}{{question-tile question=question}}
     <hr>
  {{/each}}
</ul>

{{new-question saveQuestion2 = "saveQuestion3"}}

<hr>
