<h1>Welcome to QnA</h1>

<h2>Questions</h2>

<ul>
  {{#each model.questions as |question|}}
     {{rental-popularity rental}}{{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2 = "saveQuestion3"}}

<hr>
